<div class="pink1-header" id="content" tabindex="-1">
  <div class="container">
    <h1>{{model.name}}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Users</h2>
      <button type="button" class="btn btn-default btn-block" {{action 'addUser'}}>Add user</button>
      <br />
      <div class="list-group">
        {{#each user in model.users}}
        {{#link-to 'users.show' user class="list-group-item"}}
        <h5>{{user.email}}</h5>
        <small>
          <strong>Aliases:</strong>
          {{#each alias in user.aliases}}
            {{alias.source}}
          {{/each}}
        </small>
        {{/link-to}}
        {{/each}}
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Domains</h2>
      <button type="button" class="btn btn-default btn-block" {{action 'addDomain'}}>Add domain</button>
      <br />
      <div class="list-group">
        {{#each domain in model.domains}}
        <li class="list-group-item">
          <span class="actions">
            <button class="btn btn-xs btn-danger" {{action 'deleteDomain' domain}}><em class="fa fa-trash"></em></button>
          </span>
          {{domain.name}}
        </li>
        {{/each}}
      </div>
    </div>
  </div>
</div>

